.container {
  position: relative;
  height: 100%;
  width: 8%;
  max-width: 100px;
  display: flex;
  justify-content: flex-end;
}

.column {
  position: relative;
  transition: all 0.4s ease-in-out;
  width: 100%;
  margin-top: auto;
  background-color: var(--color-green);
  border-radius: 5px 5px 0 0;
  &:hover {
    filter: drop-shadow(0 0 2px var(--color-dark));
    & .popup {
      opacity: 1;
    }
  }
}

.popup {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  color: var(--color-yellow);
  text-shadow: 0 0 2px var(--color-dark);
  @media (max-width: 850px) {
    font-size: 1.5rem;
  }
  @media (max-width: 645px) {
    font-size: 1rem;
  }
}
