@font-face {
  font-family: "Quick-Bold";
  src: url(../fonts/Quicksand-BoldItalic.otf);
}

@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Regular.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #1c2953;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  --color-dark: #1c2953;
  --color-dark-op: #1c295323;
  --color-green: #3bc1a7;
  --color-green-l: #71d1c0;
  --color-yellow: #fcc813;
}
